body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    background-color: hsl(272, 61%, 34%);
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(272, 61%, 60%);
    color: hsl(265, 100%, 86%);;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(272, 61%, 40%);
    color: hsl(265, 100%, 86%);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    
}
button:hover{
    background-color: hsl(272, 61%, 50%);
}
button:active{
    background-color: hsl(272, 61%, 60%);
}
.operator-btn{
    background-color:  hsl(270, 61%, 50%);
}
.operator-btn:hover{
    background-color: hsl(270, 61%, 60%);
}
.operator-btn:active { /* Fixed Typo */
    background-color: hsl(270, 61%, 75%);
}
